#app {
  max-width: min(100%, 600px);
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  margin-bottom: 48px;
}

section {
  margin-bottom: 0.5rem;
}

.no-select {
  user-select: none;
}

.game-screen {
  margin-top: 5vh;
}

.game-board {
  display: flex;
  flex-direction: row;
}

.move-list {
  min-width: 3em;
  margin: 0 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
}

.board-buttons {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;

  * {
    font-size: 1.5em;
    padding: 0.5em;
    color: black;
  }
}
